<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        Gestion Projet
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        About
                    </a>
                </li>
                <li>
                    <a href="">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            Taryq Zakaria && Chaimaa Faiz.
        </div>
    </div>
</footer>
